.headers {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom-width: 1px ;
    border-bottom-style: solid;
    border-bottom-color: rgb(228, 228, 228);
    z-index: 100;
}

.left_section {

    display: flex;
    align-items: center;
}
.middle_section {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px ;
    display: flex;
    align-items: center;
}
.right_section {
    width: 160px;
    margin-right: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.hamburger_menu {
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.youtube_logo {
    height: 20px;
}

.search_button {
    height: 40px;
    width: 60px;
    background-color: rgb(240, 240, 240);
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192,192, 192);
    margin-left: -2px;
    margin-right: 10px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.5);
    position: relative;
}

.voice_search {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    position: relative;
}

.voice_search .tooltip,
.search_button .tooltip{
    bottom: -52px;
    white-space: nowrap;
}

.voice_search:hover .tooltip {
    opacity: 1;
}

.search_icon {
    height: 25px;
    margin-top: 4px;
}

.voice_search_icon {
    height: 25px;
    margin-top: 4px;
    background-color: rgb(245, 245, 245);
}

.search_bar{
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border-color: rgb(192, 192, 192);
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.5);
    width: 0;
}

.search_button:hover .tooltip{
    opacity: 1;
}

.search_bar::placeholder {
    font-size: 16px;
}

.upload_icon {
    height: 24px;
}

.notification_icon_container {
    position: relative;
}

.youtube_apps_icon {
    height: 24px;
}

.notifications_icon {
    height: 24px;
}

.notifications_count {
    position: absolute;
    top: -2px;
    right: -4px ;
    background-color: #be0505;
    color: white;
    border-radius: 70px;
     padding: 2px 5px;

    font-size: 12px;
    font-weight: 500;

}

.profile_picture {
    height: 32px;
    border-radius: 16px;
}

.upload_icon_container .tooltip{
    bottom: -48px;
}

.upload_icon_container,
.youtube_apps_icon_container,
.notification_icon_container
{
    position: relative;
}

.upload_icon_container:hover .tooltip{
    opacity: 1;
}

.youtube_apps_icon_container .tooltip{
    bottom: -48px;
    width: 67px;
}

.tooltip{
    position: absolute;
    background-color:  #797676;
    color: white;
    padding: 10px 12px;
    border-radius: 2px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
}

.youtube_apps_icon_container:hover .tooltip{
    opacity: 1;
}

.notification_icon_container .tooltip{
    bottom: -48px;
}

.notification_icon_container:hover .tooltip{
    opacity: 1;
}

