.sidebars {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 99px;
    /*z-index: 200;*/
    padding-top: 5px;
}

.sidebars_box {
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.sidebars_box:hover {
    background-color: #e5dfdf;
}

.sidebars_box img{
    height: 26px;
    margin-bottom: 4px;
}

.sidebars_box div{
    font-family: Roboto, Arial;
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
}