.video_preview_img {
 margin-bottom: 10px;
    position: relative;
}

.thumbnail {
    width: 100%;

}

.video_time {
    position: absolute;
    background-color: black;
    color: white;
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    right: 10px;
    bottom: 10px;
    border-radius: 2px;

}

.channel_picture {
    width: 100px;
    height: 100px;
    object-fit: cover;
    /*background-color: red;*/
}

.profile_picture {
    width: 40px ;
    border-radius: 50px;
}

.video_info {
   /*background-color: blue;*/
}

.video_title {
    margin-top: 0;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 12px;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.video_info_grid {
    display: grid;
    grid-template-columns: 50px 1fr;
    /*background-color: #610606;*/
}

.video_author,
.video_stats {
    font-size: 16px;
    color: rgb(96, 96, 96);
}

.video_author {
    margin-bottom: 4px;
}

.video_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 40px ;
    margin-left: 30px;
    background-color: #fcf7f7;
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width: 1100px) {
    .video_grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1101px) and (max-width: 1399px) {
    .video_grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1400px) {
    .video_grid {
        grid-template-columns: repeat(4, 1fr);
    }

}

@media(max-width: 625px){
    .video_grid{
        grid-template-columns: 1fr;
    }
}

body{
    margin: 0;

    padding-top: 80px;
    padding-left: 75px;
    font-family: Roboto, Arial ;
    /*padding-right: 20px;*/

}

.link{
    position: absolute;
    color: orange;
}


