.video_preview_img {
 margin-bottom: 10px;
}

.thumbnail {
    width: 100%;
}

.channel_picture {
    /*background-color: #2e5603;*/
}

.profile_picture {
    width: 40px ;
    border-radius: 50px;
}

.video_info {
   /*background-color: blue;*/
}

.video_title {
    margin-top: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 12px;
}

p {
    font-family: "Roboto Light", Arial;
    margin-top: 0;
    margin-bottom: 0;
}

.video_info_grid {
    display: grid;
    grid-template-columns: 50px 1fr;
    /*background-color: #610606;*/
}

.video_author,
.video_stats {
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.video_author {
    margin-bottom: 4px;
}

.video_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 40px ;
}

body{
    margin: 0;

    padding-top: 80px;
    padding-left: 80px;
}


